# Copy this file to .env or create a file named .env in the construction directory:
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=prasadmoulya35@gmail.com
SMTP_PASSWORD=xxxx-xxxx-xxxx-xxxx
NOTIFY_EMAIL=prasadmoulya35@gmail.com

# Optional:
HOST=127.0.0.1
PORT=3000

